---
import type { Language } from '@/i18n/config'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import CodeCopyButton from '@/components/Widgets/CodeCopyButton.astro'
import GithubCard from '@/components/Widgets/GithubCard.astro'
import ImageZoom from '@/components/Widgets/ImageZoom.astro'
import MediaEmbed from '@/components/Widgets/MediaEmbed.astro'
import SoundEffect from '@/components/Widgets/SoundEffect.astro'
import { themeConfig } from '@/config'
import Head from '@/layouts/Head.astro'
import { getPageInfo } from '@/utils/page'
import '@/styles/comment.css'
import '@/styles/extension.css'
import '@/styles/font.css'
import '@/styles/global.css'
import '@/styles/lqip.css'
import '@/styles/markdown.css'
import '@fontsource-variable/noto-serif-sc/index.css'
import '@fontsource-variable/jetbrains-mono/index.css'
import '@fontsource-variable/source-serif-4/index.css'
import '@/styles/transition.css'

interface Props {
  postTitle?: string
  postDescription?: string
  postSlug?: string
  supportedLangs?: Language[]
}

const { postTitle, postDescription, postSlug, supportedLangs = [] } = Astro.props
const { isPost } = getPageInfo(Astro.url.pathname)
const fontStyle = themeConfig.global.fontStyle === 'serif' ? 'font-serif' : 'font-sans'
const MarginBottom = isPost && themeConfig.comment.enabled
  ? 'mb-10' // Post page with comment
  : 'mb-12' // Other pages without comment
---

<html
  lang={Astro.currentLocale}
  class:list={[
    fontStyle,
    isPost ? 'scroll-smooth' : '',
  ]}
>
  <Head {postTitle} {postDescription} {postSlug} />
  <body>
    <div class="site-wrap">
      <Header supportedLangs={supportedLangs} />
      <main class={MarginBottom} data-pagefind-body>
        <slot />
      </main>
      <Footer />
    </div>
    <SoundEffect />
    <CodeCopyButton />
    <GithubCard />
    <MediaEmbed />
    <ImageZoom />
  </body>
</html>
